.pointer {
  cursor: pointer; }

/* the key of key value pairs*/
.key {
  float: left;
  font-style: bold; }

.right {
  float: right; }

.left {
  float: left; }

/*# sourceMappingURL=style.css.map */
