<div id="page-content-wrapper">
	<div class="container-fluid">
		<div ng-show="status.loading" ng-include="'src/spinner.html'" scope="" onload=""></div>
		<a ui-sref="protected.stats" class="pointer"><h4 class="right"><span class="glyphicon glyphicon-stats"></span> Stats</h4></a>
		<h1>People</h1>
		<div class="row">
			<table st-table="displayedPeople" st-safe-src="people" class="table table-striped">
				<thead>
					<tr>
						<th>first name</th>
						<th st-sort="lastname">last name</th>
						<th>Year of Birth</th>
						<th>email</th>
					</tr>
					<tr>
						<th>
							<input st-search="firstname" placeholder="search for firstname" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="lastname" placeholder="search for lastname" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="yob" placeholder="search for yob" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="email" placeholder="search for email" class="input-sm form-control" type="search"/>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr st-select-row="row" st-select-mode="single" ui-sref="protected.person({personId: row._id, person: row})" ng-repeat="row in displayedPeople">
						<td>{{row.firstname}}</td>
						<td>{{row.lastname}}</td>
						<td>{{row.yob}}</td>
						<td>{{row.email}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>