<div id="page-content-wrapper">
	<div class="container-fluid">
		<div ng-show="status.loading" ng-include="'src/spinner.html'" scope="" onload=""></div>
		<div class="row">
			<h1>{{(person.firstname + " " + person.lastname) || "Person"}}</h1>
			<h3 ng-if="person.married">***Married***</h3>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4>_id:</h4> <p>{{person["_id"]}}</p>
				<h4>Gender:</h4> <p>{{person["gender"]}}</p>
				<h4>Year of Birth:</h4> <p>{{person["yob"]}}</p>
				<h4>Email:</h4> <p>{{person["email"]}}</p>
				<h4>City:</h4> <p>{{person["city"]}}</p>
				<h4>Comment:</h4> <p>{{person["comment"]}}</p>
				<h4>Signed Up on:</h4> <p>{{person["created"]}}</p>
				<h4>Frumtype(s):</h4> 
				<p ng-repeat="type in person['frumtype']">{{type + ", "}}</p>
				<h3>Soulmate:</h3>
				<div class="row">
					<div class="col-xs-12">
						<h4>Soulmate Frumtype(s):</h4> 
						<p ng-repeat="type in person['soulmateFrumtype']">{{type + ", "}}</p>
						<h4>Soulmate earliest Year of Birth:</h4> <p>{{person["soulmateYobStart"]}}</p>
						<h4>Soulmate latest Year of Birth:</h4> <p>{{person["soulmateYobEnd"]}}</p>
						<h4>Matches:</h4>
						<h6 ng-repeat="match in person['matches']">{{match.firstname + " " + match.lastname}}</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="!person.married">
			<div class="col-xs-12">
				<p>If this person got married recently, click to mark them as married so they won't be included in future events.</p>
				<button ng-click="personGotMarried(person._id)" class="btn btn-large">Mazal Tov! This Person is married!</button>
			</div>
		</div>
	</div>
</div>