<div class="container">
    <header>
        <h1>
            DB: Events 
            <a href="#/events" class="btn btn-primary pull-right" ng-click="reloadRoute()">Refesh</a>
        </h1>
    </header>
    
    <table class="table">
        <thead>
            <th>#</th>
            <th>ObjectID</th>
            <th>Event name</th>
            <th>Size</th>
            <th>Men</th>
            <th>Women</th>
            <th>Notes</th>
        </thead>
        <tbody>
            <tr ng-repeat="event in events" ui-sref="protected.events.event({eventId: event._id})">
                <td>{{$index+1}}</td>
                <td>{{event._id}}</td>
                <td>{{event.name}}</td>
                <td>{{event.size}}</td>
                <td>{{event.men}}</td>
                <td>{{event.women}}</td>
                <td>{{event.note}}</td>
            </tr>    
        </tbody>
    </table>
</div>