<!-- INSERT PERSON FORM -->
<div class="col-md-4">
    <header>
        <h1>Insert a person:</h1>
    </header>
    <div>
        <form novalidate>
            <div class="form-group form-fixed-height">
                <label>First name:</label>
                <input type="text" ng-class="insertPerson.formField1Class" class="form-control" placeholder="Person first name" ng-model="insertPerson.firstname" />
                
                <label>Last name:</label>
                <input type="text" ng-class="insertPerson.formField2Class" class="form-control" placeholder="Person last name" ng-model="insertPerson.lastname" />
                
                <label>Email:</label>
                <input type="text" ng-class="insertPerson.formField3Class" class="form-control" placeholder="Person email" ng-model="insertPerson.email" />

                <label>Age:</label>
                <input type="number" min="0" ng-class="insertPerson.formField4Class" class="form-control" placeholder="0" ng-model="insertPerson.age" />
                
                <label>Gender:</label>
                <select class="form-control" ng-class="insertPerson.formField5Class" ng-model="insertPerson.gender">
                    <option selected value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                
                <label>Year of birth:</label>
                <select class="form-control" ng-class="insertPerson.formField6Class" ng-model="insertPerson.yob">
                    <option ng-repeat="yob in yobs" selected value="{{yob}}">{{yob}}</option>
                </select>

                <label>Location:</label>
                <input type="text" ng-class="insertPerson.formField7Class" class="form-control" placeholder="Location" ng-model="insertPerson.location" />

                <label>Favourite pets (separated by comma):</label>
                <textarea rows="5" ng-class="insertPerson.formField8Class" class="form-control" placeholder="Favourite pets (separate by comma)" ng-model="insertPerson.pets"></textarea>
                
                <label>Ideal soulmate date of birth range:</label><br />
                
                <label>From:</label>
                <select class="form-control" ng-class="insertPerson.formField9Class" ng-model="insertPerson.soulmateYobStart">
                    <option ng-repeat="soulmateYobStart in yobs" selected value="{{soulmateYobStart}}">{{soulmateYobStart}}</option>
                </select>
                
                <label>To: </label>
                <select class="form-control" ng-class="insertPerson.formField10Class" ng-model="insertPerson.soulmateYobEnd">
                    <option ng-repeat="soulmateYobEnd in yobs" selected value="{{soulmateYobEnd}}">{{soulmateYobEnd}}</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-group-justified btn-primary" ng-click="insertPerson.submit()">Submit</button>
            </div>
        </form>
        <hr />
        <h4 id="insertPersonLog">Result log: </h4>
        <p>{{insertPerson.log}}</p>
    </div>
</div>

<!-- DELETE PERSON FORM -->
<div class="col-md-4">
    <header>
        <h1>Delete a person:</h1>
    </header>
    <div>
        <form name="submitPersonForm" novalidate>
            <div class="form-group form-fixed-height">
                <label for="personName" >ObjectID: </label>
                <input type="text" ng-class="deletePerson.formField1Class" class="form-control" placeholder="Person ObjectID" ng-model="deletePerson.objId" />
            </div>
            <div class="form-group">
                <button class="btn btn-group-justified btn-primary" ng-click="deletePerson.submit()">Submit</button>
            </div>
        </form>
        <hr />
        <h4 id="deletePersonLog">Result log: </h4>
        <p>{{deletePerson.log}}</p>
    </div>
</div>

<!-- CREATE NEW EVENT -->
<div class="col-md-4">
    <header>
        <h1>Create new event:</h1>
    </header>
    <div>
        <form name="submitPersonForm" novalidate>
            <div class="form-group form-fixed-height">
                <label for="eventName" >Event name: </label>
                <input type="text" ng-class="newEvent.formField1Class" ng-model="newEvent.name" class="form-control" id="eventName" placeholder="Event name" />
                <label for="eventSize" >Event size: </label>
                <input type="number" ng-class="newEvent.formField2Class" ng-model="newEvent.size" class="form-control" id="eventSize" placeholder="0" min="0" />
            </div>
            <div class="form-group">
                <button class="btn btn-group-justified btn-primary" id="submitEventButton" ng-click="newEvent.submit()">Submit</button>
            </div>
        </form>
        <hr />
        <h4 id="newEvent">Result log: </h4>
        <div ng-show="newEvent.eventState == 1">
            <p>{{newEvent.log}}</p>
            <p>Event "{{newEvent.name}} ({{newEvent.size}})" prepared, you can see the event content in the console log (it should be CTRL+SHIFT+J in Chrome). Do you want to save it?</p>
            <button class="btn btn-default" ng-click="newEvent.save(newEvent.name, newEvent.size, newEvent.men, newEvent.women, 'Default note')">Save it</button>
        </div>
        <div ng-show="newEvent.eventState == 2">Event saved!</div>
    </div>
</div>