<nav class="navbar navbar-inverse navbar-default">
    <div class="container" ng-controller="tabController">
        <div class="navbar-header navbar-brand">
            AngularJS test webapp
        </div>
        
        <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active:isSet(1)}">
                <a href="#/forms" ng-click="setTab(1)">Forms</a>
            </li>
            <li ng-class="{active:isSet(2)}">
                <a href="#/events" ng-click="setTab(2)">Show Events</a>
            </li>
            <li ng-class="{active:isSet(3)}">
                <a href="#/persons" ng-click="setTab(3)">Show Persons</a>
            </li>
        </ul>
        
    </div>
</nav>
