<div class="container">
    <header>
        <h1>
            DB: Persons 
            <a href="#/persons" class="btn btn-primary pull-right" ng-click="reloadRoute()">Refesh</a>
        </h1>
    </header>
    
    <table class="table">
        <thead>
            <th>#</th>
            <th>ObjectID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Year of Birth</th>
            <th>Location</th>
            <th>Ideal Soulmate Yob</th>
            <th>Pets</th>
            <th>Matches</th>
        </thead>
        <tbody>
            <tr ng-repeat="person in persons">
                <td>{{$index+1}}</td>
                <td>{{person._id}}</td>
                <td>{{person.firstname}}</td>
                <td>{{person.lastname}}</td>
                <td>{{person.email}}</td>
                <td>{{person.age}}</td>
                <td>{{person.gender}}</td>
                <td>{{person.yob}}</td>
                <td>{{person.location}}</td>
                <td>{{person.soulmateYobStart}}-{{person.soulmateYobEnd}}</td>
                <td>{{person.pets}}</td>
                <td>{{person.matches}}</td>
            </tr>    
        </tbody>
    </table>
</div>