<div class="container">
	<form class="form-horizontal" ng-submit="login.adminLogin(login.username, login.password)">
  <fieldset>
      <!-- Form Name -->
      <legend>Login</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="username">Username</label>  
        <div class="col-md-6">
          <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md" ng-model="login.username">

        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>
        <div class="col-md-6">
          <input id="password" name="password" type="password" placeholder="*************" class="form-control input-md" ng-model="login.password">
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
          <button id="submit" name="submit" class="btn btn-inverse">Submit</button>
        </div>
      </div>

    </fieldset>
  </form>

</div>