<div class="modal-header">
    <h3 class="modal-title">Create an Event With This List</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="numberOfParticipants">Name the Event</label>
            <input ng-model="newevent.name" type="text" class="form-control" id="numberOfParticipants" placeholder="Date Night on Ave J">
        </div>
        <div class="form-group">
            <label for="date">Location</label>
                <input ng-model="newevent.location" id="text" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="date">Proposed Date</label>
            <p class="input-group">
                <input ng-model="newevent.date" id="date" type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2016-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="form-group">
            <label for="date">Notes</label>
            <textarea class="form-control" id="note" ng-model="newevent.note" placeholder="Notes about the event" ></textarea>
            </p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>