<link rel="stylesheet" type="text/css" href="src/generate/generate.css"/>
<!-- SPINNER -->
<div ng-show="status.loading" ng-include="'src/spinner.html'" scope="" onload=""></div>

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <h1>Generate Guest List</h1>
        <div class="row">
            <div class="col-md-4">
                <form class="well" ng-submit="generateGuestList()">
                    <div class="form-group">
                        <label for="numberOfParticipants">Number of Participants</label>
                        <input type="number" class="form-control" id="numberOfParticipants" placeholder="10" ng-model="guestListSize">
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="exampleInputEmail1">Same Event Allowance</label>
                        <input type="number" class="form-control" id="sameEventAllowance" placeholder="0">
                    </div>
                -->
                <button type="submit" class="btn btn-default">Generate Guest List</button>
            </form>
        </div>
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Guest List</h3>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter People" />
                </div>
                <table class="table table-hover" id="task-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Family Name</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="guest in guests track by $index">
                            <td>{{$index}}</td>
                            <td>{{guest.firstname}}</td>
                            <td>{{guest.lastname}}</td>
                            <td>{{getCurrentYear() - guest.yob}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-default" ng-click="open('lg')">Save/Create Event</button>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- /#page-content-wrapper -->