<div id="page-content-wrapper">
	<div class="container-fluid">
		<div ng-show="status.loading" ng-include="'src/spinner.html'" scope="" onload=""></div>
		<div class="row" ng-init="init()">
				<h1>Events</h1>
				<table st-table="displayedEvents" st-safe-src="events" class="table table-striped">
					<thead>
						<tr>
							<th st-sort="date">Date</th>
							<th st-sort="lastname">Size</th>
							<th st-sort="lastname">Go</th>
							<th st-sort="lastname">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr st-select-row="row" st-select-mode="single" ng-repeat="event in displayedEvents">
							<td>{{event.name}}</td>
							<td>{{event.size}}</td>
							<td ui-sref="protected.event({eventId: event.eventId})"><span class="pointer glyphicon glyphicon-chevron-right"></span></td>
							<td ng-click="deleteEvent(event._id)"><span class="pointer glyphicon glyphicon-remove"></span></td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
</div>