<div id="page-content-wrapper">
	<div class="container-fluid">
		<div ng-show="status.loading" ng-include="'src/spinner.html'" scope="" onload=""></div>
		<div class="row right">
			<button class="btn" ng-click="getEmailAddresses()">Get Email Addresses</button>
		</div>
		<div class="row">
			<h1>{{event.name || "Event"}}</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<line-item key="'Size:'" value="event.size"/>
			</div>
			<div class="col-xs-12">
				<line-item key="'Date:'" value="event.date"/>
			</div>
			<div class="col-xs-12">
				<line-item key="'Location:'" value="event.location"/>
			</div>
			<div class="col-xs-12">
				<line-item key="'Note:'" value="event.note"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="row">
					<h4>Men</h4>
					<div ng-repeat="man in event.men">
						<div class="col-xs-10">
							{{man.firstname + " " + man.lastname}} 
						</div>
						<div class="col-xs-2">
							<span ng-click="removeUserFromEvent(event._id, 'male', man._id, man.firstname, man.lastname)" class="glyphicon glyphicon-remove"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<button class="btn" ng-click="generateNewGuest('male')">Generate New Male Guest</button>
					</div>
					<div class="col-xs-6">
						<button class="btn" ng-click="manuallyAddMale=!manuallyAddMale">{{manuallyAddMale ? "Cancel" : "Manually Add Male Guest"}}</button>
					</div>
					<div class="row" ng-show="manuallyAddMale">
						<div class="col-xs-12">
							<form ng-submit="manuallyInputPerson(event._id, 'male', addmale)">
								<div class="form-group">
									<label for="manually-add-male">Input Male ID</label>
									<input type="text" class="form-control" name="manually-add-male" ng-model="addmale"/>
								</div>
								<div class="form-group">
									<button class="btn btn-primary" type="submit">Add Male</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row">
					<h4>Women</h4>
					<div ng-repeat="woman in event.women">
						<div class="col-xs-10">
							{{woman.firstname + " " + woman.lastname}} 
						</div>
						<div class="col-xs-2">
							<span ng-click="removeUserFromEvent(event._id, 'female', woman._id, woman.firstname, woman.lastname)" class="glyphicon glyphicon-remove"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<button class="btn" ng-click="generateNewGuest('female')">Generate New Female Guest</button>
					</div>
					<div class="col-xs-6">
						<button class="btn" ng-click="manuallyAddFemale=!manuallyAddFemale">{{manuallyAddFemale ? "Cancel" : "Manually Add Female Guest"}}</button>
					</div>
					<div class="row" ng-show="manuallyAddFemale">
						<div class="col-xs-12">
							<form ng-submit="manuallyInputPerson(event._id, 'female', addfemale)">
								<div class="form-group">
									<label for="manually-add-female">Input Female ID</label>
									<input type="text" class="form-control" name="manually-add-female" ng-model="addfemale"/>
								</div>
								<div class="form-group">
									<button class="btn btn-primary" type="submit">Add Female</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>