<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Just Ten (Admin)
            </a>
        </li>
        <li>
            <a ui-sref="protected.generate">Generate</a>
        </li>
        <li>
            <a ui-sref="protected.people">People</a>
        </li>
        <li>
            <a ui-sref="protected.events">Events</a>
        </li>
        <li ng-if="$root.loggedIn">
            <a ng-click="$root.logout()">Logout</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->