<div id="page-content-wrapper">
	<div class="container-fluid">
		<div ng-show="status.loading" ng-include="'src/spinner.html'" scope="" onload=""></div>
		<h1>Stats</h1>

		<div class="row">
			<div class="col-xs-12">
				<p>Cool facts about the people and events in JustTen. Coming Soon</p>
			</div>
		</div>
	</div>
</div>