<div class="modal-body">
    <div>
        <h2>Member Profile</h2>
    </div>
    <div class="row">
    	<div class="col-xs-12">
            <p>Name: {{person.firstname}}  {{person.lastname}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <p>Gender: {{person.gender}}</p>
        </div>
        <div class="col-xs-6">
            <p>Year of Birth: {{person.yob}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <p>Frumtype:</p>
            <ul ng-repeat="item in person.frumtype">
                <li>{{item}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Number of Matches:</p>
            <p>{{person.matches.length}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Comment</p>
            <p>{{person.comment}}</p>
        </div>
    </div>
    <div class="row">
    	<p>Events Attended:</p>
    	<p ng-repeat="event in person.eventsAttended">
    		{{event}}
    	</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ui-sref="protected.events.event">Personal Page</button>
    <button class="btn" ng-click="dismiss()">Dismiss</button>
</div>