<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Just Ten Admin Page</h1>
                <h4>Where the magic happens</h4>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->