<div class="modal-body">
    <div>
        <h2>Event Summary</h2>
    </div>
    <div class="row">
        <p> <strong>Name:</strong> {{event.name}}</p>
    </div>
    <div class="row">
    	<p><strong>Date:</strong> {{event.date}}</p>
    </div>
    <div class="row">
        <p><strong>Location:</strong> {{event.location}}</p>
    </div>
    <div class="row">
    	<p><strong>Attendees:</strong></p>
    	<p ng-repeat="person in event.participants">
    		{{person.firstname}}  {{person.lastname}}
    	</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="dismiss()">Dismiss</button>
    <button class="btn btn-warning" ng-click="deleteEvent(event._id)">Delete This Event</button>
</div>